.footer{
    /* width: 65%; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-link{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    color: #252525;
}

.footer-link li{
    /* text-decoration: none; */
    cursor: pointer;
}

.footer-icons{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 6px;
    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    cursor: pointer;
}

.footer hr{
    width: 80%;
    height: 3px;
    background-color: #c7c7c7;
    border: none;
}

.footer-end{
    font-size: 20px;
    color: #1a1a1a;
}